/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*  Begin Stylesheet
    screen.css

    By Alexander Nicoara
*/

/*  Base Styles */
/*  Hint: These styles tend to be
    1. Element Selectors
    2. concerned with color and typography
    3. basic element presentation
*/

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; /* 16px / 16px = 1em for general font size*/
  line-height: 1.375em; /* 22px / 16px = 1.375em */
  color: black;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Modular scale :: 1:2 -- Octave */
h1 {
  font-size: 3em; /* 48px / 16px = 3em */
  line-height: 0.916666em; /* 44px / 48px = 0.916666em */
  padding-bottom: 0.45833333em; /* 22px / 48px = 0.458333333em */
}

h2 {
  font-size: 2em; /* 32px / 16px = 2em */
  padding-bottom: 0.6875em; /* 22px / 32px = 0.6875em */
}

a, p {
  padding-bottom: 1.375em; /* 22px / 16px = 1.375em */
}

a, a:visited {
  text-decoration: none;
}

ol, ul {
  padding-bottom: 0.6875em; /* 11px / 16px = 0.6875em */
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li ol,
li ul {
  padding-top: 0.6875em; /* 11px /16px = 0.6875em */
  padding-left: 1.375em; /* 22px / 16px = 1.375em */
  padding-bottom: 0;
}

li ol {
  list-style-type: lower-alpha;
}

li li ol {
  list-style-type: lower-roman;
}

li {
  padding-bottom: 0.6875em; /* 11px /16px = 0.6875em */
}

li li:last-child {
  padding-bottom: 0;
}

/* Responsive Media */
img,
video,
audio {
  max-width: 100%;
  display: block;
}

header {
  background-color: #2c3031;
  text-align: center;
  padding: 1.375em 1.375em 0.63636363em 1.375em; /* 22px /16px = 1.375em */
}

nav {
  background-color: #2c3031;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

nav ul > li {
  padding: 0;
}

nav ul > li > a {
  display: block;
  color: white;
  background-color: #5ac4c2;
  outline: 0.0625em white solid;
  padding: 1.375em;
}

nav ul > li > a:active {
  background-color: #ff9f17;
}

main {
  padding: 2.75em 1.375em 1.375em 1.375em;
}

main section {
  margin-bottom: 1.375em;
}

footer {
  background-color: #2c3031;
  color: white;
  text-align: center;
}

footer section {
  padding: 1.375em;
}

footer h2 {
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.375em; /* 22px / 16px = 1.375em */
  padding-bottom: 1.375em; /* 22px / 16 = 1.375em */
}

footer ul {
  list-style-type: none;
}

/* Layout Styles */
/*  Hint: these tend to be
    1. IDs; but also classes, sometimes
    2. concerned with layout and spatial
       relationships
*/
#header-icon {
  width: 5.5em;
  height: 5.5em;
  margin: auto;
  padding-bottom: 0.63636363em; /* 28px/2px / 16px = 0.63636363em */
}

#myname {
  color: white;
  font-size: 1.75em; /* 28px / 16px = 1.75em */
  line-height: 0.7857142em; /* 22px / 28px = 0.7857142 */
  padding-bottom: 0; /* 1 - 0.63636363 */
}

#menu-btn {
  padding: 0;
  border: none;
  background:none;
  width: 100%;
  height: 6em;
  margin: 0;
}

#menu-btn:active {
  background-color: #ff9f17;
}

#menu-icon {
  margin: auto;
  width: auto;
  height: 2.75em;
}

#jsmall-image {
  display: block;
}

#jlarge-image {
  display: none;
}

#jsmall-image, #jlarge-image {
  padding-bottom: 1.375em;
}

#my-work h1 {
  padding-bottom: 0.6875em;
}

#school-work {
  background-color: #ff9e00;
}

#graphics-work {
  background-color: #b1a103;
}

#my-projects {
  background-color: #407851;
}

#social-media-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 0;
}

#social-media-links li {
  padding-bottom: 0;
}

#copy-rights {
  padding-top: 1.375em;
}

/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/
.closed-nav {
  display: none;
}

.opened-nav {
  display: flex;
}

.active {
  box-shadow: inset 0 -0.3125em 0 #5ac4c2;
}

.boxed-link-preview {
  color: white;
  text-align: center;
  padding: 1.375em;
}

.boxed-link-preview h2 {
  font-weight: 400;
}

.boxed-link-preview img {
  margin: auto;
  width: auto;
  height: 4.8125em;
  padding-bottom: 1.375em;
}

.boxed-link-preview p {
  padding: 0 0 1.375em 0;
}

.boxed-link-preview a {
  display: inline-block;
  outline: 2px white solid;
  padding: 0.6875em 1.375em;
}

.boxed-link-preview a:visited {
  color: white;
}

.footer-button {
  display: inline-block;
  width: 11em;
  padding: 1.375em 0; /* 22px 66px => 1.375em 4.125em */
  background-color: #5ac4c2;
  color: white;
}

.footer-button:active {
  background-color: #ff9f17;
}

.sm-icon {
  width: 2.75em; /* 44px / 16px = 2.75em */
  height: 2.75em; /* 44px / 16px = 2.75em */
}

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
@media screen and (min-width: 600px) {
  nav ul {
    flex-flow: row wrap;
    justify-content: center;
  }

  nav ul > li > a {
    background-color: inherit;
    padding-left: 2.75em;
    padding-right: 2.75em;
    outline: none;
  }

  nav ul > li > a:active {
    background-color: #5ac3c2;
  }

  #nav {
    display: flex;
  }

  #menu-btn {
    display: none;
  }

  #jsmall-image {
    display: none;
  }

  #jlarge-image {
    display: block;
  }

  #my-work h1 {
    padding-bottom: 0.6875em;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 2.75em;
  }

  footer section {
    width: 20vw;
  }

  #copy-rights {
    padding-top: 2.75em;
    flex: 1 0 100%;
  }
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.375em;
  }

  #jumbo-banner {
    grid-column: 1/4;
  }

  #jumbo-banner {
    position: relative;
  }

  #jumbo-banner figcaption {
    color: white;
    padding: 1.375em;
    margin-top: -12.375em;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
  }

  #jumbo-banner h1 {
    padding-bottom: 0.22916666; /* 11px / 48px */
  }

  #jumbo-banner p {
    padding-bottom: 0;
  }

  #my-work {
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.375em;
  }

  #my-work h1 {
    padding-bottom: 0em;
  }

  #school-work {
    grid-column: 1/2;
  }

  #graphics-work {
    grid-column: 2/3;
  }

  #my-projects {
    grid-column: 3/4;
  }
}

@media screen and (min-width: 1024px){
  main {
    padding-left: 20%;
    padding-right: 20%;
  }

  #jumbo-banner img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1660px){
  #jumbo-banner figcaption {
    margin-top: -11em;
  }
}
